[submodule "third_party/termux-app"]
	path = third_party/termux-app
	url = https://github.com/termux/termux-app.git
[submodule "third_party/termux-packages"]
	path = third_party/termux-packages
	url = https://github.com/termux/termux-packages.git
[submodule "third_party/termux-am-library"]
	path = third_party/termux-am-library
	url = https://github.com/termux/termux-am-library
[submodule "third_party/ish"]
	path = third_party/ish
	url = https://github.com/ish-app/ish.git
